.section {
  padding: 8rem 0;
  text-align: center;
}

.section-team {
  background-color: #f6f6f6;
}

.section-prices {
  background-color:#282828;
}

.prices,
.blog-posts {
  display: flex;
  margin-top: 4rem;
}

.section-contacts {
  background-color: #f6f6f6;
}

